body {margin:0 auto; background:#adad85;}
img {max-width:100%; max-height:100%;}
.navbar-top {
	width: 100%;
	height:10%;
	overflow:hidden;
	position:absolute;
	border:2px solid black;
	margin:0 auto;
	padding:0;
	z-index:-1;
	background-color:#99b3ff;
}
.slider-top {
	width:100%;
	height:75%;
	position:absolute;
	display:inline-block;
	top:10%;
	border:2px solid black;
	margin:0 auto;
}
.slider-top .slider-images {
	display:none;
}
.slider-middle {
	width:60%;
	height:80%;
	position:absolute;
	max-width:100%;
	max-height:100%;
	display:inline-block;
	border:2px solid black;
	border-radius:20px;
	overflow:hidden;
	margin:auto;
	top: 87%; 
	
}
.slider-middle > img {
	position:absolute;
	top:0;
	
}

.slider-middle > div {
	position:absolute;
	display:inline-block;
	bottom:5%;
	right:45%;
	border:2px solid black;
	z-index:0;
}


.slider-middle-p {
	position:absolute;
	float:right;
	font-size:20px;
	font-style:oblique;
	height:auto;
	width:38%;
	right:0;
	top:87%;
	border:2px solid black;
	border-radius:25px;
	background-color:#99b3ff;
	text-align:center;
}
.slider-middle-p h1 {
	text-align:center;

}
.footer {
	height:30%;
	width:100%;
	border:2px solid black;
	border-radius:25px;
	position:absolute;
	display:block;
	top:172%;
	font-size:35px;
	text-align:center;
	background-color:#99b3ff;
}
 ul {
	position:absolute;
 	list-style-type:none;
 	float:right; 	
 	right:0;
 	
 }
  li {
	display:block;
 	float:left; 
 	padding: 0 25px;

 }
  a { 
	list-style-type:none; 
	text-decoration:none;
	color:black;
	z-index:2;
	}

.icon-top {
	/*border: 2px solid black;*/
	z-index:10;
	position:static;
	font-size:40px;
}


.logo{
	height:100%;
	width:8%;
	font-size:50px;
	font-style:oblique;
	position:absolute;
	left:1%;

}
.logo:hover {
	
}

.next {
	right:0;
	border-radius:3px 0 0 3px;
}
.prev {
	left:0;
	border-radius:3px 0 0 3px;
}
.prev, .next {
	cursor:pointer;
	position:absolute;
	top:40%;
	width:auto;
	padding:16px;
	color:white;
	font-weight:bold;
	font-size:40px;
	transition: 0.6 ease;
	border-radius:0 3px 3px 0;
}
.prev:hover, .next:hover {
	background:rgba(0,0,0,0.8);
}

@media  only screen and (max-width: 1125px) {
	.slider-middle-p {
		position:absolute;
		display:block;

	}
	.footer{
		position:absolute;
		display:inline-block;
		left:0;
		width:60%;
		height:40%;
	}
}
@media  only screen and (max-width: 600px) {
	.footer {
		position:absolute;
		display:inline-block;
		left:0;
		width:60%;
		height:50%;
	}
}
@media only screen and (max-width:300px) {
	.slider-middle-p {
		position:relative;
		display:block;
		background-color:pink;
		width:100%;
		top:1525px;
	}
	.slider-middle {
		width:100%;
	}
	.footer {
		width:100%;
		height:55%;
	}
	.icon-top {
		font-size:20px;
		float:right;
	}
}